@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700);

/* ----- CODE ----- */

pre.sh_sourceCode, code {
  background-color: #DDDDDD;
  font-size: 24px;
  border-radius: 5px;
}
pre.sh_sourceCode {
  border: 1px solid gray;
  line-height: 135%;
  padding: .5em;
}
code {
  padding: 0.1em 0.5em;
}
pre.sh_sourceCode code {
  padding: 0;
}


.content > ul, .content ol {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
li {
  line-height: 130%;
  padding-top: 0px;
}

.content > ul > li {
  margin-left: 0px;
  padding-top: 0px;
}
small {
  font-size: .5em;
}

h1 {
  font-family: "VAG Rounded W01 Bold", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  font-size: 64px;
}

p, li {
  font-size: 32px;
  -moz-hyphens: auto;
  color: #444444;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-height: 1.45em;
  margin-bottom: 20px;
  text-align: justify;
  word-spacing: 0.08em;
}

#preso .slide.opener {
  background-color: #32b93c;
  background-image: url(railslove-logo-white-501x120.png);
  background-position: center center;
  background-repeat: no-repeat;
}
#preso .slide.opener .content {
  display: none;
}

#preso .slide.callout {
  background-color: #32b93c;
  background-image: url(railslove-logo-white-501x120.png);
  background-position: center 517px;
  background-repeat: no-repeat;
}
#preso .slide.callout.green {
  background-color: #32b93c;
}
#preso .slide.callout.orange {
  background-color: #f67b20;
}
#preso .slide.callout.cyan {
  background-color: #00abe1;
}
#preso .slide.callout.lila {
  background-color: #a13bc1;
}

#preso .slide.callout .content {
  background-color: #fff;
  /*background-image: url(callout_arrow_down.gif);
  background-position: bottom right;
  background-repeat: no-repeat;*/
  padding: 28px 42px 28px 42px;
  width: 700px;
  height: 212px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 126px !important;
}

#preso .slide.callout .content:after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    display: inline-block;
    height: 0;
    top: 394px;
    left: 840px;
    position: absolute;
    width: 0;
}

#preso .slide.callout .content h1 {
  color: #32b93c;
  text-align: left;
  font-size: 28px;
  font-family: 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  margin: 0 0 0.8em 0;
}

#preso .slide.callout .content p {
  font-family: "VAG Rounded W01 Bold", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  text-align: left;
  color: #32b93c;
  margin: 0;
  line-height: 1.4em;
  font-size: 2.5em;
}

#preso .slide .content {
  padding: 120px;
}
#preso .slide .content p {
  color: #444;
  font-size: 22px;
  font-family: "VAG Rounded W01 Light", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0 0 20px;
}
#preso .slide .content h1 {
  color: #32b93c;
  font-size: 22px;
  font-family: "VAG Rounded W01 Bold", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 1.4em;
  margin: 0 0 20px;
}
#preso .slide .content ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
#preso .slide .content li {
  padding: 0;
}
#preso .slide .content li p {
  font-family: "VAG Rounded W01 Bold", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #32b93c;
  margin-bottom: 5px;
}
#preso .slide .content>ul>li>ul {
  padding-left: 5px;
}
#preso .slide .content>ul>li>ul>li:before {
  content: "-";
  padding-right: 5px; 
}
#preso .slide .content>ul>li>ul>li {
  font-family: "VAG Rounded W01 Light", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #444;
  margin-bottom: 5px;
}

#preso .slide.chapter-opener {
  background-color: #32b93c;
}
#preso .slide.chapter-opener .content {
  padding: 0 120px;
}
#preso .slide.chapter-opener .content p {
  font-family: "VAG Rounded W01 Bold", 'Railslove Stroke L', Lato, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #fff;
}

blockquote p {
  font-family: Georgia, serif;
}

#footer {
  background: none;
  color: #999;
}
